# Pandas DataFrame creation, reading and writing

## Create DataFrame

- From list, specifying column names
- From dict narray / lists
- Creates a indexes DataFrame using arrays
- From list of dicts

### [Create DataFrame] Create DataFrame from list
- prepare data with 2d array
- create dataframe with data and specify schema (column name) for rows

In [1]:
# Import pandas library 
import pandas as pd 
  
# Initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

### [Create DataFrame] Create DataFrame from dict narray/lists
- prepare diction, key is column name and value is column value
- create dataframe with dict

In [2]:
# Python code demonstrate creating  
# DataFrame from dict narray / lists  
# By default addresses. 
  
import pandas as pd 
  
# Initialize data of lists. 
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]} 
  
# Create DataFrame 
df = pd.DataFrame(data) 
  
# Print the output. 
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

### [Create DataFrame] Create DataFrame with index
- can use dict or 2d array
- specify index parameter when creating dataframe

In [7]:
# Python code demonstrate creating  
# pandas DataFrame with indexed by  
  
# DataFrame using arrays. 
import pandas as pd 
  
# Initialize data of lists. 
data = {'Name':['Tom', 'Jack', 'nick', 'juli'], 'marks':[99, 98, 95, 90]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['rank1', 'rank2', 'rank3', 'rank4']) 
  
# print the data 
display(df) 

# initialize data of lists
data2 = [['Tom', 10], ['Jim', 9], ['Harry', 11]]
df2 = pd.DataFrame(data2, columns=['Name', 'Age'], index = ['rank1', 'rank2', 'rank3'])
display(df2)

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

        Name  Age
rank1    Tom   10
rank2    Jim    9
rank3  Harry   11

### [Create DataFrame] Creating Dataframe from list of dicts
- each element in array represents a row in dataframe
- dict key is column name, dict value is column value
- final column list is the union of all columns, rows does not contain a column's value will set to NaN

In [17]:
# Python code demonstrate how to create  
# Pandas DataFrame by lists of dicts. 
import pandas as pd 
  
# Initialize data to lists. 
data = [{'a': 1, 'b': 2, 'c':3}, {'a':10, 'b': 20, 'c': 30, 'd': 40}] 
  
# Creates DataFrame. 
df = pd.DataFrame(data) 
  
# Print the data 
df

    a   b   c     d
0   1   2   3   NaN
1  10  20  30  40.0

## Reading and Writing data

## DataFrame Format

- Plain-text CSV — a good old friend of a data scientist
- Pickle — a Python’s way to serialize things
- [MessagePack](https://msgpack.org/index.html) — it’s like JSON but fast and small. *(df.to_msgpack is deprecated and will be removed in a future version. It is recommended to use pyarrow for on-the-wire transmission of pandas objects.)*
- HDF5 —a file format designed to store and organize large amounts of data
- Feather — a fast, lightweight, and easy-to-use binary file format for storing data frames
- Parquet — an Apache Hadoop’s columnar storage format

In [18]:
# Sample data

import pandas as pd

data = [{'a': 1, 'b': 2, 'c':3}, {'a':10, 'b': 20, 'c': 30, 'd': 40}, {'a':11, 'b': 21, 'c': 31, 'd': 41}, {'a':12, 'b': 22, 'c': 32, 'd': 42}] 
df = pd.DataFrame(data)

# Utility to generate file name by time
from datetime import datetime

# Generate time string for current time
def gen_time_str():
    return datetime.now().strftime("%Y%m%d_%H%M%S")

display(df)
display(gen_time_str())

    a   b   c     d
0   1   2   3   NaN
1  10  20  30  40.0
2  11  21  31  41.0
3  12  22  32  42.0

'20191103_224537'

### [Read/Write Data] Write to CSV/TSV
- Write
    - index=None: do not output index
    - header=True: output header
    - sep='\t': set separator as tab instead of comma
    
- Read
    - sep='\t': set separator when reading file
    - error_bad_lines=False: ignore bad lines, default it True
    - skip_blank_lines=True: skip blank lines instead of converting it to row with all N/A value, default is True
    - skiprows: rows to skip at beginning, or list of rows to skip, or a lambda expression evaluated to index, e.g. lambda x: x in [0,2]
    - skipfooter: number of lines to skip at the bottom
    - engine: 'c' is faster, but 'python' is more feature complete
    - usecols: use subset of columns. Index based: [0, 1], name based: ['a', 'c']
    - index_col: Column(s) to use as the row labels of the DataFrame, either given as string name or column index. If a sequence of int / str is given, a MultiIndex is used.
    - names: List of column names to use. If file contains no header row, then you should explicitly pass header=None. Duplicates in this list are not allowed.
    - header: Row number(s) to use as the column names, and the start of the data. Default behavior is to infer the column names: if no names are passed the behavior is identical to header=0 and column names are inferred from the first line of the file, if column names are passed explicitly then the behavior is identical to header=None. Explicitly pass header=0 to be able to replace existing names. The header can be a list of integers that specify row locations for a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not specified will be skipped (e.g. 2 in this example is skipped). Note that this parameter ignores commented lines and empty lines if skip_blank_lines=True, so header=0 denotes the first line of data rather than the first line of the file.

In [19]:
# Write data into tsv
filename = f'Data/sample_data.tsv'
df.to_csv(filename, index=None, header=True, sep='\t')

# Read tsv data, only use first and third column
# do not throw exception for bad lines
# specify separator to tab character
# use only first and last column, change column name to 'aa' and 'cc'
# need to explicitly specify header=0, or the first line will also be treat as data
df_read = pd.read_csv(filename, sep='\t', error_bad_lines=False, usecols=[0, 3], names=['aa', 'cc'], header=0)
display(df_read)

   aa    cc
0   1   NaN
1  10  40.0
2  11  41.0
3  12  42.0

### [Read/Write Data] Write to pickle
- can select compression method, by default it will infer from file extension

In [20]:
filename = f'Data/sample_data_compressed.pkl.gz'

# write pickle file with compression
df.to_pickle(filename, compression='gzip')

# read compressed pickle file
df_read = pd.read_pickle(filename)
display(df_read)

    a   b   c     d
0   1   2   3   NaN
1  10  20  30  40.0
2  11  21  31  41.0
3  12  22  32  42.0

### [Read/Write data] Write HDF5 file
- one file can contain multiple dataframes, the file is like a key-df dictionary
- need to specify key when outputing to HD5 file
- pd.to_hdf() [document](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_hdf.html)

In [24]:
filename = f'Data/sample_data.h5'
df.to_hdf(filename, 'df')

s = pd.DataFrame({'age': [10, 12, 13, 14], 'name': ['Tom', 'Jim', 'Abby', 'Jack']})
s.to_hdf(filename, 's')

# load different DF from the same ifle
display(pd.read_hdf(filename, 'df'))
display(pd.read_hdf(filename, 's'))

    a   b   c     d
0   1   2   3   NaN
1  10  20  30  40.0
2  11  21  31  41.0
3  12  22  32  42.0

   age  name
0   10   Tom
1   12   Jim
2   13  Abby
3   14  Jack

### [Read/Wrtie Data] Write to feather
- need install 'pyarrow' module

In [25]:
filename = f'Data/sample_data.feather'
# Write to feather format
df.to_feather(filename)

# Read from feather format
display(pd.read_feather(filename))

    a   b   c     d
0   1   2   3   NaN
1  10  20  30  40.0
2  11  21  31  41.0
3  12  22  32  42.0

### [Read/Write Data] Write data to parquet

In [26]:
filename = 'Data/df.parquet.gz'
df.to_parquet(filename, compression='gzip')

display(pd.read_parquet(filename))

    a   b   c     d
0   1   2   3   NaN
1  10  20  30  40.0
2  11  21  31  41.0
3  12  22  32  42.0